@charset 'utf-8';
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490779028731'); /* IE9*/
  src: url('iconfont.eot?t=1490779028731#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490779028731') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490779028731') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490779028731#iconfont') format('svg'); /* iOS 4.1- */
}

.nav .iconfont {
  width: 18px;
  height: 14px;
  font-family:"iconfont" !important;
  font-size:21px;
  color: #fff;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 12px 10px 0 18px;
}
.micor_ico.iconfont {
  width: 60px;
  color: #2187e0;;
  font-family:"iconfont" !important;
  font-size:32px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/*首先链接字体位置要正确，并且把下载下来的字体文件拷贝到相对于的CSS文件夹下*/

